{{!-- <form @submit.prevent="save"> --}}
<form {{action "save" on="submit"}}>
  <p>
    {{!-- <input type="text" placeholder="name" v-model="formValues.name"> --}}
    {{input type="text" placeholder="name" value=formValues.name}}
  </p>
  <p>
    {{input type="text" placeholder="country" value=formValues.country}}
  </p>
  <p>
    {{input type="text" placeholder="video_url" value=formValues.video_url}}
  </p>
  <p>
    {{#textarea placeholder="description" value=formValues.description}}{{/textarea}}
  </p>
  <p>
    {{textarea placeholder="campaign" value=formValues.campaign}}
  </p>

  <button>Submit</button>
</form>
