<p>
  <label for="{{property}}">{{label}}:</label>
  <input type="{{type}}" placeholder="{{label}}" value="{{get changeset property}}"
         oninput={{action (mut (get changeset property)) value="target.value"}}>
</p>

{{!--changeset[property] = get(changeset, property)--}}

